In [34]:
import spacy

In [35]:
nlp = spacy.load('en_core_web_sm')
nlp.pipe_names

['tok2vec', 'tagger', 'parser', 'attribute_ruler', 'lemmatizer', 'ner']

In [36]:
doc = nlp("Tesla Inc is going to acquire twitter for $45 billion")
print(doc.ents)
for ent in doc.ents:
    print(ent.text, "|", ent.label_, "|", spacy.explain(ent.label_))

(Tesla Inc, $45 billion)
Tesla Inc | ORG | Companies, agencies, institutions, etc.
$45 billion | MONEY | Monetary values, including unit

In [37]:
#another way to display entities
from spacy import displacy
displacy.render(doc, style = "ent")

# **List Down All The Entities**

In [38]:
nlp.pipe_labels['ner']

['CARDINAL',
 'DATE',
 'EVENT',
 'FAC',
 'GPE',
 'LANGUAGE',
 'LAW',
 'LOC',
 'MONEY',
 'NORP',
 'ORDINAL',
 'ORG',
 'PERCENT',
 'PERSON',
 'PRODUCT',
 'QUANTITY',
 'TIME',
 'WORK_OF_ART']

In [40]:
doc = nlp("Michael Bloomberg founded Bloomberg in 1982")
for ent in doc.ents:
    print(ent.text, "|", ent.label_, "|", spacy.explain(ent.label_), "|", ent.start_char, "|", ent.end_char)

Michael Bloomberg | PERSON | People, including fictional | 0 | 17
Bloomberg | PERSON | People, including fictional | 26 | 35
1982 | DATE | Absolute or relative dates or periods | 39 | 43

In [58]:
doc = nlp("Tesla is going to acquire Twitter for $45 billion")
for ent in doc.ents:
    print(ent.text, " | ", ent.label_)

Tesla  |  ORG
Twitter  |  PRODUCT
$45 billion  |  MONEY

In [59]:
doc[2: 5]

going to acquire

In [60]:
type(doc)

spacy.tokens.doc.Doc

In [69]:
from spacy.tokens import Doc, Span
s1 = Span(doc, 0, 1, label = "ORG")
s2 = Span(doc, 5, 6, label = "ORG")
doc.set_ents([s1, s2], default = "unmodified")

In [70]:
for ent in doc.ents:
    print(ent.text, " | ", ent.label_)

Tesla  |  ORG
Twitter  |  ORG
$45 billion  |  MONEY